<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Non-invasive early state disease detection</h1>
            <hr>
            <p>DokiDoki uses your heart rate data to detect diseases in early stage.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
